<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shaoyuan.motion">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.access_wifi_state" />
    <uses-permission android:name="android.permission.access_network_state" />

    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--用于获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!--用于访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--用于写入缓存数据到扩展存储卡-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
        android:name="com.shaoyuan.core.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".ui.activity.BookingOrderActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name=".ui.activity.PlasticSurgeryActivity" />
        <activity android:name=".ui.activity.SelectScreenActivity" />
        <activity
            android:name=".ui.activity.WorkActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name=".ui.activity.DietActivity" />
        <activity android:name=".ui.activity.ConsumeActivity" />
        <activity android:name=".ui.activity.AnalysisReportsActivity" />
        <activity android:name=".ui.activity.IntakeActivity" />
        <activity android:name=".ui.activity.SmsCheckActivity" />
        <activity android:name=".ui.activity.SuggestionActivity" />
        <activity android:name=".ui.activity.QuestionsActivity" />
        <activity android:name=".ui.activity.SecureActivity" />
        <activity android:name=".ui.activity.HeaderActivity" />
        <activity android:name=".ui.activity.UserActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppStartTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.OrderActivity" />
        <activity android:name=".ui.activity.CurriculumActivity" />
        <activity android:name=".ui.activity.CoachActivity" />
        <activity android:name=".ui.activity.EquipmentActivity" />
        <activity android:name=".ui.activity.SiteActivity" />
        <activity android:name=".ui.activity.RecordActivity" />
        <activity android:name=".ui.activity.MedicalActivity" />
        <activity android:name=".ui.activity.PlanActivity" />
        <activity
            android:name=".ui.activity.RecipeActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <!-- 高德定位服务 -->
        <service android:name="com.amap.api.location.APSService" />
        <!-- 开发者申请的key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="52f5f240e878dc2ab0ea5a32aba24c5c" />
    </application>

</manifest>